@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');

$white:#ffffff;
$lightwhite: #fafafa;
$lightblack: #333333;
$primarycolor: #2e3373;
$green: #33AE1C;
$popins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

.roboto-font { font-family: 'Roboto', sans-serif!important; }
.poppins-font { font-family: 'Poppins', sans-serif!important; }


@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
}

.btn-outline-primary{
    border-color: $primarycolor!important;
    color: $primarycolor;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &:hover,&:focus,{
        background-color: rgba($primarycolor, 0.2);
        color: $primarycolor;
        font-weight: 600;
    }
}

.btn-primary{
    background-color: rgba($primarycolor, 0.9)!important;
    border-color: $primarycolor!important;
    color: $white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include box-shadow( 0, 0px, 8px, rgba($white, 0.4));

    &:hover,&:focus,{
        background-color: $primarycolor;
        box-shadow: none;
    }
}

.header-title{
    font-size: 32px;
    font-family: $popins;
    padding-bottom: 20px; 
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $lightwhite;
    color: $lightblack;
    overflow-x: hidden;
    overflow-y: auto;
    font-size:16px;
    font-family: $roboto;
}

/* Navbar*/
.custom-menu{
    padding-top: 0;
    padding-bottom: 0;
    background-color: $lightwhite;
    @include box-shadow( 0, 2px, 4px, rgba(0, 0, 0, 0.4));

    .navbar-brand {
        color: $primarycolor;
        font-size: 28px;
        padding: 16px 0;
        font-weight: 600;
        line-height: 28px;
        font-family: $popins;
    }
    .navbar-toggler {
        .line{
            width:28px; 
            height: 2px;
            background-color: $primarycolor;
            display: block;
            margin: 5px 0; 
        }
    }
    .navbar-nav{
        .nav-item{
            .nav-link{
                padding: 18px;
                color: $lightblack;
                    &.active,&:hover{
                        background-color: rgba($primarycolor, 0.2);
                        color: $primarycolor;
                        font-weight: 600;
                    }
            }
        }

    }
}

/* End Navbar*/

/* Home Page*/
/* cards*/
.card{
    padding: 24px 24px 30px;
    cursor: pointer;
    margin-bottom: 20px;

    .img-reponsive{
        height: 100px;
        width: auto;
    }

    .card-title {
        font-size: 24px;
        text-align: center;
        padding-top: 24px; 
    }

    p{
        text-align: center;
    }

    &:hover{
        @include box-shadow(0, 2px, 16px, rgba(0,0,0,0.2));
    }

}
/* End Card*/
/* Banner */
.banner-section{
    background-image: url(../img/banner.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-height:900px;

    .container-fluid {
        height: 100%;
    }

    .banner-box {
        width: 100%;
        max-width: 700px;
        color: $white;
        text-align: center;

        h3{
            font-size:54px;
            font-family: $popins;
        }

        p{
            padding: 24px 60px 24px;
        }

        .learn-btn{
            min-width: 240px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;    
        }
    }
}
/* End Banner*/
main {
    padding-top: 80px;
}
.work-section{
    padding: 32px 0 32px;
}

.benefit-section{
    padding: 32px 0 32px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        top: 0px;
        height: 100%;
        background-color: rgba($primarycolor, 0.05);
        z-index: -1;
    }
}

.package-section{
    padding: 32px 0 32px;

    .img-fluid{
        margin-bottom: 20px;
    }
}

.shoping-info-section{
    padding: 32px 0 32px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        top: 0px;
        height: 100%;
        background-color: rgba($primarycolor, 0.05);
        z-index: -1;
    }
    .row{
        flex-wrap: wrap-reverse; 
        
        .img-fluid{
            margin-bottom: 20px;
        }
    }
}

/* End Homepage*/


/* Footer*/
footer{
    background-color: #333;
    color: $white;
    padding-top:40px;

    .footer-title{
        padding-bottom: 12px; 
    }
    
    p{
        padding: 2px 0;
        font-size: 14px;
        margin-bottom: 0;
    }
    
    ul {
        list-style: none;
        padding: 0;
        li{
            padding: 2px 0;
            a{
                font-size: 14px;
                color: $white;
                &:hover{
                    color: $white;
                }
            }
        }
    }
    .link {
        li {
            display: inline-block;
            a{
                font-size: 24px;
                margin-right: 16px;
            }
        }
    }
    .lower-footer {
        border-top: 1px solid rgba($white, 0.4);
        background-color: #222;

        p{
            font-size: 12px;
            margin-bottom: 0;
            padding: 8px 0;

            a{
                text-decoration: underline;
                color: $white;
            }
        }
        
    }
}

/* End Footer*/


/* Plan Page */
.plan-main{
    overflow: hidden;
    position: relative;
    text-align: center;
    background: $lightwhite;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 24px 0 32px;
    cursor: pointer;

    .plan-head{
        background-color: $lightwhite;
        margin-bottom: 20px;
        .plan-content{
            margin-bottom: 50px;
            .head-bg{
                transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -ms-transition: all 0.3s ease-in-out 0s;
                -o-transition: all 0.3s ease-in-out 0s;
                -webkit-transition: all 0.3s ease-in-out 0s;
                border-style: solid;
                border-width: 90px 1411px 23px 399px;
                position: absolute;
                border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
            }
            .head{
                padding-top: 40px;
                position: relative;
                z-index: 1;
                span{
                    font-family: $popins;
                    font-size: 28px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                }
            }

        }
        .price-tag{
            padding-bottom: 20px;
            .price{
                display: block;
                .sign {
                    display: inline-block;
                    font-size: 28px;
                    font-weight: 400;
                    vertical-align: middle;
                }
                .currency{
                    font-size: 60px;
                    font-weight: 300;
                    letter-spacing: -2px;
                    line-height: 60px;
                    padding: 0;
                    vertical-align: middle;
                }
                .sub-currency{
                    display: inline-block;
                    font-size: 24px;
                    font-weight: 400;
                    vertical-align: bottom;
                }
                .month{
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 3px;
                    vertical-align: bottom;
                }
            }
        }
    }
    .plan-feature{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
            font-size: 18px;
            padding: 15px 0;
            transition: all 0.3s ease-in-out 0s;
            }
        }
    }
    .plan-price-div{
        margin: 20px 0 32px;
    }

    &:hover, &.active{
        @include box-shadow(0, 2px, 16px, rgba(0,0,0,0.2));

        .head-bg{
            border-color: $primarycolor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $primarycolor !important;
            color: $white !important;
        }
        .head{
            color: $white !important;
        }
    }
}
/* End Plan Page */
