@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
.roboto-font {
  font-family: "Roboto", sans-serif !important;
}

.poppins-font {
  font-family: "Poppins", sans-serif !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.btn-outline-primary {
  border-color: #2e3373 !important;
  color: #2e3373;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: rgba(46, 51, 115, 0.2);
  color: #2e3373;
  font-weight: 500;
}

.btn-primary {
  background-color: rgba(46, 51, 115, 0.9) !important;
  border-color: #2e3373 !important;
  color: #ffffff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  -webkit-box-shadow: 0 0px 8px rgba(255, 255, 255, 0.4) ;
  box-shadow: 0 0px 8px rgba(255, 255, 255, 0.4) ;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #2e3373;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-title {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 20px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fafafa;
  color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/* Navbar*/
.custom-menu {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fafafa;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) ;
}

.custom-menu .navbar-brand {
  color: #2e3373;
  font-size: 28px;
  padding: 16px 0;
  font-weight: 600;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  margin-right: 0;
}

.custom-menu .navbar-toggler {
  padding: 0;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.custom-menu .navbar-toggler .line {
  width: 28px;
  height: 2px;
  background-color: #2e3373;
  display: block;
  margin: 5px 0;
}

.custom-menu .navbar-nav .nav-item .nav-link {
  color: #333333;
  padding-left: 12px;
  padding-right: 12px;
}

.custom-menu .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(46, 51, 115, 0.2);
  color: #2e3373;
  font-weight: 500;
}

.custom-menu .navbar-nav .nav-item.active a {
  background-color: rgba(46, 51, 115, 0.2);
  color: #2e3373;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  #login-btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: auto;
  }
  .collapse {
    padding-left: 20px;
  }
  .nav-link {
    padding: 18px 16px !important;
  }
}

/* End Navbar*/
/* Home Page*/
/* cards*/
.card {
  padding: 24px 24px 30px;
  cursor: pointer;
  margin-bottom: 20px;
  height: 100%;
}

.card .img-reponsive {
  height: 100px;
  width: auto;
}

.card .card-title {
  font-size: 24px;
  text-align: center;
  padding-top: 24px;
}

.card p {
  text-align: center;
}

.card:hover {
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2) ;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2) ;
}

/* End Card*/
/* Banner */
.banner-section {
  background-image: url(../img/banner.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  max-height: 900px;
}

.banner-section .container-fluid {
  height: 100%;
}

.banner-section .banner-box {
  width: 100%;
  max-width: 700px;
  color: #ffffff;
  text-align: center;
}

.banner-section .banner-box h3 {
  font-size: 54px;
  font-family: "Poppins", sans-serif;
}

.banner-section .banner-box p {
  padding: 24px 60px 24px;
}

.banner-section .banner-box .learn-btn {
  min-width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
}

/* End Banner*/
main {
  padding-top: 60px;
}

.work-section {
  padding: 32px 0 32px;
}

.benefit-section {
  padding: 32px 0 32px;
  position: relative;
}

.benefit-section::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  top: 0px;
  height: 100%;
  background-color: rgba(46, 51, 115, 0.05);
  z-index: -1;
}

.package-section {
  padding: 32px 0 32px;
}

.package-section .img-fluid {
  margin-bottom: 20px;
}

.shoping-info-section {
  padding: 32px 0 32px;
  position: relative;
}

.shoping-info-section::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  top: 0px;
  height: 100%;
  background-color: rgba(46, 51, 115, 0.05);
  z-index: -1;
}

.shoping-info-section .row {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.shoping-info-section .row .img-fluid {
  margin-bottom: 20px;
}

/* End Homepage*/
/* Footer*/
footer {
  background-color: #333;
  color: #ffffff;
  padding-top: 40px;
}

footer .uf-div {
  padding-bottom: 20px;
}

footer .footer-title {
  font-size: 18px;
  font-weight: normal;
}

footer p {
  padding: 2px 0;
  font-size: 14px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.8);
}

footer p:hover {
  color: #ffffff;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  padding: 2px 0;
}

footer ul li a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

footer ul li a:hover {
  color: #ffffff;
}

footer .social li {
  display: inline-block;
}

footer .social li a {
  font-size: 24px;
  margin-right: 16px;
}

footer .lower-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #222;
}

footer .lower-footer p {
  font-size: 12px;
  margin-bottom: 0;
  padding: 8px 0;
}

footer .lower-footer p a {
  text-decoration: underline;
  color: #ffffff;
}

/* End Footer*/
/* Login Modal */
#login-modal .modal-dialog {
  max-width: 400px;
  margin-top: 100px;
}

#login-modal .login-wrapper, #login-modal .register-wrapper {
  padding: 24px 20px;
}

#login-modal .login-wrapper .modal-title, #login-modal .register-wrapper .modal-title {
  margin-bottom: 28px;
  line-height: 1;
  font-size: 32px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

#login-modal .login-wrapper label, #login-modal .register-wrapper label {
  margin-bottom: .25rem;
  font-size: 14px;
  font-weight: 500;
}

#login-modal .login-wrapper .lgn-btn, #login-modal .register-wrapper .lgn-btn {
  width: 100%;
}

/* End Login Modal */
/* Plan Page */
.plan-section {
  padding-top: 20px;
}

.plan-main {
  overflow: hidden;
  position: relative;
  text-align: center;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin: 24px 0 32px;
  cursor: pointer;
}

.plan-main .plan-head {
  background-color: #fafafa;
  margin-bottom: 20px;
}

.plan-main .plan-head .plan-content {
  margin-bottom: 50px;
}

.plan-main .plan-head .plan-content .head-bg {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  border-style: solid;
  border-width: 90px 1411px 23px 399px;
  position: absolute;
  border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

.plan-main .plan-head .plan-content .head {
  padding-top: 40px;
  position: relative;
  z-index: 1;
}

.plan-main .plan-head .plan-content .head span {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.plan-main .plan-head .price-tag {
  padding-bottom: 20px;
}

.plan-main .plan-head .price-tag .price {
  display: block;
}

.plan-main .plan-head .price-tag .price .sign {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  vertical-align: middle;
}

.plan-main .plan-head .price-tag .price .currency {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 60px;
  padding: 0;
  vertical-align: middle;
}

.plan-main .plan-head .price-tag .price .sub-currency {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  vertical-align: bottom;
}

.plan-main .plan-head .price-tag .price .month {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  vertical-align: bottom;
}

.plan-main .plan-feature ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan-main .plan-feature ul li {
  font-size: 18px;
  padding: 15px 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.plan-main .plan-price-div {
  margin: 20px 0 32px;
}

.plan-main .plan-price-div .btn {
  padding: 10px 40px;
}

.plan-main:hover, .plan-main.active {
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2) ;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2) ;
}

.plan-main:hover .head-bg, .plan-main.active .head-bg {
  border-color: #2e3373 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2e3373 !important;
  color: #ffffff !important;
}

.plan-main:hover .head, .plan-main.active .head {
  color: #ffffff !important;
}

/* End Plan Page */
/*  About Page */
.about-section {
  height: 300px;
  background: url("../img/about_banner.jpg") center center no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section h3 {
  color: #ffffff;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}

.info-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.start-section {
  padding: 32px 0;
}

.trust-section {
  padding: 32px 0;
  position: relative;
}

.trust-section::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  top: 0px;
  height: 100%;
  background-color: rgba(46, 51, 115, 0.05);
  z-index: -1;
}

/* End About Page */
/*  Contact Page */
.contact-section {
  height: 300px;
  background: url("../img/contact_banner.jpg") center center no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section h3 {
  color: #ffffff;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}

.contact-form {
  padding: 32px 0;
}

/* End Contact Page */
/* Faqs Page */
.faqs-section {
  height: 300px;
  background: url("../img/faqs_banner.jpg") center center no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faqs-section h3 {
  color: #ffffff;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}

.question-section {
  padding: 32px 0;
}

.question-section .card {
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  border: none;
}

.question-section .card .card-header {
  padding: 10px 0;
  background: none;
  font-weight: 500;
}

.question-section .card .card-header a {
  color: #2e3373;
}

.question-section .card .collapse {
  padding: 0;
}

.question-section .card .collapse .card-body {
  color: #333333;
}

/* End Faqs Page */
/*# sourceMappingURL=base.css.map */